<header id="page-header">
  <div id="masthead">
  <h1><%= link_to 'Tomatoes', root_path %></h1>
    <nav>
      <p>
      </p>
      <p>
          <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </p>
    </nav>
  </div>
</header>
